asgiref==3.2.3
boto3==1.14.16
botocore==1.17.16
dj-database-url==0.5.0
Django==3.0.8
django-heroku==0.3.1
django-multiselectfield==0.1.12
django-storages==1.9.1
djangorestframework==3.11.0
docutils==0.15.2
gunicorn==20.0.4
jmespath==0.10.0
Pillow==9.3.0
psycopg2==2.7.5
psycopg2-binary==2.8.5
python-dateutil==2.8.1
python-decouple==3.3
pytz==2019.3
s3transfer==0.3.3
six==1.15.0
soupsieve==2.0
sqlparse==0.3.0
urllib3==1.25.9
whitenoise==5.0.1
