asgiref==3.6.0
boto3==1.26.130
botocore==1.29.130
dj-database-url==2.0.0
Django==4.2.1
django-heroku==0.3.1
django-multiselectfield==0.1.12
django-storages==1.13.2
djangorestframework==3.14.0
docutils==0.19
gunicorn==20.1.0
jmespath==1.0.1
Pillow==9.5.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
python-dateutil==2.8.2
python-decouple==3.8
pytz>=2020.1
s3transfer==0.6.1
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
urllib3
whitenoise==6.4.0
