{% extends 'base.html' %}{% load static %}
{% block pageContent %}

<section id="#info">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>{{ cat.name }}</h2>
                <p class="lead">About me: {{ cat.personality }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h4>Documents</h4>
                <p>document uploading coming soon</p>
            </div>
        </div>
    </div>
</section>

{% endblock pageContent %}
