{% extends 'base.html' %}{% load static %}
{% load mathfilters %}
{% block pageContent %}

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Welcome back CalPoly Cat Program!</h1>
        <p class="lead">We hope you're having a great day</p>
    </div>
</header>

<section id="#search">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>TODO</h2>
                <p class="lead">todo coming soon</p>
            </div>
        </div>
    </div>
</section>

<section id="#cats" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Cat List</h2>
                <p class="lead">search function coming soon</p>
                <p class="lead">results: {{ cats.count }}</p>

                <div class="d-flex">
                    <div class="col-lg-6">
                        {% for cat in cats %}
                        {% if forloop.counter0|sub:1 == cats.count|intdiv:2 %}
                    </div>
                    <div class="col-lg-6">
                        {% endif %}
                        <a class="card text-dark mb-3 text-decoration-none" style="width:18rem" href="cat/?id={{ cat.id }}">
                            <img class="card-img-top" src="..." alt="[cat picture]">
                            <div class="card-body">
                                <h5 class="card-title">{{ cat.name }}</h5>
                                <p class="card-text"></p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock pageContent %}
