{% load static %}
<h4>Documents</h4>

<ul class="list-group list-group-flush">
    {% for doc in documents %}
    <li class="list-group-item d-flex justify-content-between text-decoration-none">
        <div>
            <a href="{{ MEDIA_URL }}/media/{{ doc.document}}" target="_blank">{{ doc.name }}</a>
            <span class="ml-1 text-dark">{{ doc.description }}</span></div>
        <div>
            <div class="badge badge-secondary ">{{ doc.uploaded_at }}</div>
            <a href="/delete_document?id={{ doc.id }}"><img src="{% static "imgs/trash.svg" %}"></a>
        </div>
    </li>
    {% endfor %}
</ul>

<h4 class="mt-4">Upload Document</h4>
<form action="/document_upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="cat" value="{{ cat.id }}">
    <div class="form-group">
        <label for="id_document">Document:</label>
        <input type="file" name="document" id="id_document" required>
    </div>

    <div class="form-group">
        <label for="id_description">Description</label>
        <input type="text" class="form-control" name="description" id="id_description" maxlength="60">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>