{% extends 'base.html' %}{% load static %}
{% block pageContent %}

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Help page</h1>
        <p class="lead">email <a href="mailto:calpoly@hack4impact" class="text-white" target="_blank">
        	calpoly@hack4impact.org</a> if this page<br>does not answer your question</p>
    </div>
</header>

<section id="#search">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Table of contents</h2>
                <p class="lead">Mobile (example)</p>
                <ul>
                    <li>adding new clients</li>
                    <li>viewing client info</li>
                    <li>searching for clients</li>
                </ul>
                <p class="lead">Web (example)</p>
                <ul>
                    <li>adding new clients</li>
                    <li>viewing client info</li>
                    <li>searching for clients</li>
                    <li>exporting data</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="#mobile" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Mobile help</h2>
                <p class="lead">help info to come soon</p>
            </div>
        </div>
    </div>
</section>

<section id="#web">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Web help</h2>
                <p class="lead">help info to come soon</p>
            </div>
        </div>
    </div>
</section>

{% endblock pageContent %}