{% extends 'single_form.html' %}{% load static %}
{% block formContent %}

<h2>Intake Form</h2>
<form action="/intake/" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Pet's Name<span style="color:red;">*</span></label>
        <input value={{ cat.name }} type="text" class="form-control" name="name" id="id_name" maxlength="50" required>
    </div>
    <div class="form-group">
        <label for="id_gender">Gender<span style="color:red;">*</span></label>
        <select class="form-control" name="gender" id="id_gender" required>
            <option value="" selected disabled hidden>Select gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
    <div class="form-group">
        <label for="id_age">Age<span style="color:red;">*</span></label>
        <input type="number" class="form-control" name="age" id="id_age" step="0.1" required>
    </div>
    <div class="form-group">
        <label for="id_description">Description (color)<span style="color:red;">*</span></label>
        <input type="text" class="form-control" name="description" id="id_description" maxlength="60" required>
    </div>
    <div class="form-group">
        <label for="id_breed">Breed<span style="color:red;">*</span></label>
        <input type="text" class="form-control" name="breed" id="id_breed" maxlength="35" required>
    </div>
    <div class="form-group">
        <label for="id_itype">Type<span style="color:red;">*</span></label>
        <select class="form-control" name="itype" id="id_itype" required>
            <option value="" selected disabled hidden>Select type</option>
            <option value="DSH">DSH</option>
            <option value="DMH">DMH</option>
            <option value="DLH">DLH</option>
        </select>
    </div>
    <div class="form-group">
        <label for="id_status">Status<span style="color:red;">*</span></label>
        <select class="form-control" name="status" id="id_status" required>
            <option value="" selected disabled hidden>Select type</option>
            <option value="adopt">For Adoption</option>
            <option value="temp">Temporary</option>
            <option value="perm">Permanent</option>
        </select>
    </div>
    <div class="form-group">

        <label for="id_arrival_date">Arrival Date<span style="color:red;">*</span></label>
        <input type="date" class="form-control" name="arrival_date" id="id_arrival_date" required>
    </div>
    <div class="form-group">
        <label for="id_arrival_details">Arrival Details (reason coming to shelter)<span style="color:red;">*</span></label>
        <textarea class="form-control" id="id_arrival_details" name="arrival_details" required rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="id_medical_history">Brief Medical History<span style="color:red;">*</span></label>
        <textarea class="form-control" id="id_medical_history" name="medical_history" required rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="id_vaccinations">Vaccinations<span style="color:red;">*</span></label>
        <textarea class="form-control" id="id_vaccinations" name="vaccinations" required rows="3"></textarea>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="id_is_microchipped" name="is_microchipped">
        <label class="form-check-label" for="id_is_microchipped">Microchipped</label>
    </div>
    <div class="form-group">
        <label for="id_flea_control_date">Flea control, date applied<span style="color:red;">*</span></label>
        <input type="date" class="form-control" name="flea_control_date" id="id_flea_control_date" required>
    </div>
    <div class="form-group">
        <label for="id_deworming_date">Deworming done on<span style="color:red;">*</span></label>
        <input type="date" class="form-control" name="deworming_date" id="id_deworming_date" required>
    </div>
    <div class="form-group">
        <label for="id_fiv_felv_date">FIV-FELV, date tested<span style="color:red;">*</span></label>

        <input type="date" class="form-control" name="fiv_felv_date" id="id_fiv_felv_date" required>
    </div>
    <div class="form-group">
        <label for="id_special_needs">Special Needs (meds, diet, etc.)</label>
        <textarea class="form-control" id="id_special_needs" name="special_needs" rows="3"></textarea>
    </div>

    <label>Choose the characteristics that best describe the cat's personality and traits</label>
    <div class="row form-group">
        <div class="col">
            {% for val, text in form.personality.field.choices %}
            {% if forloop.counter == 14 %}
        </div>
        <div class="col">
            {% endif %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="{{ form.personality.name }}" value="{{ val }}" id="id_personality_{{ forloop.counter }}">
                <label class="form-check-label" for="id_personality_{{ forloop.counter }}">{{ text }}</label>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label for="id_more_personality">Additional traits</label>
        <textarea class="form-control" id="id_more_personality" name="more_personality" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="id_comments">Comments</label>
        <textarea class="form-control" id="id_comments" name="comments" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label for="id_personal_exp">Personal experiences with the cat</label>
        <textarea class="form-control" id="id_personal_exp" name="personal_exp" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock formContent %}
