{% extends 'base.html' %}{% load static %}
{% load customtags %}
{% block pageContent %}

<header class="bg-primary text-dark">
    <div class="container text-center">
        <h1>Welcome back Cal Poly Cat Program!</h1>
        <p class="lead">We hope you're having a great day</p>
    </div>
</header>

{% if user.is_active %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>Upcoming Events</h2>
            <a href="events/">view all events</a>
            <ul class="list-group">
            {% for event in events %}
                <li class="list-group-item" data-toggle="collapse" data-target="#e{{event.id}}">
                    <div class="d-flex justify-content-between">
                        <span><a class="text-dark text-decoration-none" href="/event/?id={{event.id}}">
                            {{ event.date|date:'M j' }} - {{ event.time|date:'h:ia'}} | {% if event.name == None %}Volunteers{% else %}{{ event.name }}{% endif %} | {{ event.title }}</a></span>
                        <span><span class="badge badge-primary">{{ event.event_type }}</span></span>
                    </div>
                    <div id="e{{event.id}}" class="collapse mt-2 ml-4">{{ event.notes }}</div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

<div class="pt-5 pb-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Cat List</h2>
                <div class="form-group">
                    <input type="text" class="form-control" id="search" placeholder="search">
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <span class="lead">results: <span id="result_count">{{ cats.count }}</span></span>
                    <span class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="layout" id="list" checked> List
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="layout" id="grid"> Grid
                        </label>
                    </span>
                </div>

                <div class="grid-container" id="cat_grid" style="display:none !important">
                     {% for cat in cats %}
                     <div class="fake-card mb-3">
                         {% if photos|get_item:cat.id is not None %}
                         <img class="card-img-top" src="{{ photos|get_item:cat.id }}"
                           {% if photo_desc|get_item:cat.id is not None %}
                           alt="{{photo_desc|get_item:cat.id}}"
                           {% else %}
                           alt="picture of {{cat.name}}"
                           {% endif %}
                         >
                         {{ cat.photo }}
                         {% endif %}
                         <a href="cat/?id={{ cat.id }}" class="text-decoration-none text-dark">
                         <div class="card-body bg-primary">
                             <h5 class="card-title"><span class="name">{{ cat.name }}</span> ({{ cat.age }}/{{ cat.gender }})</h5>
                             <p class="card-text">
                                 {% if cat.status == "adopt" %}
                                 for adoption
                                 {% elif cat.status == "temporary" %}
                                 temporary
                                 {% elif cat.status == "permanent" %}
                                 permanant
                                 {% endif %}
                             </p>
                         </div>
                         </a>
                     </div>
                     {% endfor %}
                </div>
                <div class="col-lg-12 auto-mx" id="cat_list" style="">
                    <ul class="list-group list-group-flush col-lg-12">
                    {% for cat in cats %}
                    <li class="list-group-item d-flex justify-content-between">
                        <a class="text-dark text-decoration-none" href="cat/?id={{ cat.id }}">
                            <span class="name">{{ cat.name }}</span>
                            ({{ cat.age }}/{{ cat.gender }})
                        </a>
                        <div>
                            {% if cat.status == "adopt" %}
                            for adoption
                            {% elif cat.status == "temporary" %}
                            temporary
                            {% elif cat.status == "permanent" %}
                            permanant
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock pageContent %}
