asgiref==3.2.3
dj-database-url==0.5.0
Django==3.0.5
django-heroku==0.3.1
django-mathfilters==1.0.0
django-multiselectfield==0.1.12
djangorestframework==3.11.0
gunicorn==20.0.4
psycopg2==2.7.5
psycopg2-binary==2.8.5
pytz==2019.3
soupsieve==2.0
sqlparse==0.3.0
whitenoise==5.0.1
